@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');
body{
	margin:0;
	padding:0;
	font-family: 'Roboto Slab', serif;
}
*{
	outline: none;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
.wrapper {
    width: 100%;
    float: left;
    background: #f2f2f2;
}
.header {
    height: 92px;
    padding-bottom: 17px;
    padding-top: 16px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.nav {
    height: 48px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to top, #fff 76%, #f1f6ff);
}
#menu li {
    padding: 0px 20px;
    height: 48px;
    line-height: 48px;
}
#menu li a{
	font-size:20px; 
	color: #9a9a9a; 
}
.font-33{
	font-size: 33px;
}.font-18{
	font-size: 18px;
}
.font-16{
	font-size: 16px;
}
.font-14{
	font-size: 14px;
}
.primary-bg{
	background: #1f4fa1;
}
.primary-text{
	color: #1f4fa1 !important;
}
.font-secondary{
	font-family: 'Roboto', sans-serif;
}
.suc-icon{
	background: #FFF;
	top: -30px;
}
#menuToggle,#menuToggle2{
	display: none;
}
.bg-gc-yellow{
	background: #f9eccc;
}
.bg-gc-yellow2{
	background:#F3D690;
}
.text-gc-blue{
	color: #02315a !important;
}
.bg-gc-blue{
	background: #02315a;
}
.text-gc-red{
	color: #6a0311;
}
.bg-gc-red{
	background: #6a0311;
}
.bg-gc-red2{
	background:#4e000b;
}
.bg-gc-red{
	background: #6a0311;
}
.gc-bg-white80{
	background: rgb(255 255 255 / 65%);
	-webkit-backdrop-filter: blur(22px);
	backdrop-filter: blur(22px);
}
.gc-bg-purpel80{
	background: rgb(148 109 171 / 65%);
	-webkit-backdrop-filter: blur(22px);
	backdrop-filter: blur(22px);
	/*background: url(../images/purplbg.png);*/
}
.gc-bg-gray80{
	background: rgb(153 151 151 / 65%);
	-webkit-backdrop-filter: blur(22px);
	backdrop-filter: blur(22px);
}
.gc-bg-orange{
	background:#F05A28;
}
.gc-text-orange{
	color:#F05A28;
}
.gc-bg-purpal{
	background:#91268F;
}
.gc-text-purpal{
	color:#91268F;
}
.gc-bg-gold{
	background:#A17100;
}
/*.gc-bg-purpel80:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(148 109 171 / 80%);
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}*/
.lSAction > a{
	width: 110px;
	height: 110px;
}
.lSAction > .lSPrev{
	background: url(../images/arrowLeft.svg) no-repeat center center;
	transform: rotate(180deg);
}
.lSAction > .lSNext{
	background: url(../images/arrowLeft.svg) no-repeat center center;
}
ul.lSPager.lSpg {
    display: none;
}
.min-container{
	width: 800px;
	max-width: 100%;
}
.text-xxs{
	font-size: 9px;
}
.postImgCase{
	min-height: 100px;
}
.churcheHeading{
	height: 64px;
	line-height: 64px;
}
.churcheHeading h2{
	font-size: 20px;
	color: #F3CE00;
	text-align: center;
}
.churche_banner_content1{
	width: 384px;
}
.wrapper.bg-white{
	background: #fff;
}
.about-banner-cont,.events-banner-cont{
	max-width: 1491px;
}
.flex-show-1366{
	display: none;
}







@media (max-width: 1366px){
.header {
    height: 73px;
    padding-top: 12px;
    padding-bottom: 13px;
}
.lg-logo {
    height: 48px;
}
#menu {
    height: 48px;
}
#menu li {
    padding: 0px 20px;
    height: 48px;
    line-height: 48px;
}
#menu li a{
	font-size:18px;
}
.container {
	max-width: 1088px;
}
.hidden-1366{
	display: none;
}
.flex-show-1366{
	display: flex;
}
.eventBoxHome{
	width: 32%;
}
.w-full-1336{
	width: 100%;
	max-width: 100%;
}
.about-banner-cont{
	max-width:1256px;
}
.events-banner-cont{
	max-width: 100%;
	padding:0 !important;
}
}
@media (max-width: 1023px){
.container{
	max-width: 100%;
}
#menuToggle,#menuToggle2{
	display: block;
}
nav {
  background-color: #1E1E23;
  height: 65px;
}
#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  position: absolute;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menu{
  position: absolute;
  width: 300px;
  box-shadow: 0 0 10px #85888C;
  margin: 0px 0 0 -50px;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-500%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu ul{
	 background: #1f4fa1;
}
#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
  width: 100%;
}
.show{
  transform: none !important;
  margin-left:0px !important;
}
#menu li{
	text-align: left;
	padding: 15px;
}
#menu li a{
	color: #fff !important;
}
#menuToggle2 {
    position: absolute;
    right: -45px;
    top: 50px;
}
.lSAction > a{
	display: none;
}
}
@media (max-width: 768px){
	.eventBoxHome{
		width: 100%;
	}
	.about-banner-cont .w-full.md\:w-8\/12,.w-full.md\:w-4\/12 {
		width: 100%;
	}
	.header{
		height: 66px;
		padding-top: 14px;
		padding-bottom: 14px;
	}
	.mb-logo{
		height: 38px;
	}
}